<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>InicioSesion</servlet-name>
        <servlet-class>Servlets.InicioSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Buscar</servlet-name>
        <servlet-class>Servlets.Buscar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>crearAsesoria</servlet-name>
        <servlet-class>Servlets.crearAsesoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarAsesoria</servlet-name>
        <servlet-class>Servlets.EditarAsesoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>borrarasesoria</servlet-name>
        <servlet-class>Servlets.borrarasesoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>inscribirasesoria</servlet-name>
        <servlet-class>Servlets.inscribirasesoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dardebaja</servlet-name>
        <servlet-class>Servlets.dardebaja</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registrarsviso</servlet-name>
        <servlet-class>Servlets.registrarsviso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>guardarUsuario</servlet-name>
        <servlet-class>Servlets.guardarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>guardarAdmin</servlet-name>
        <servlet-class>Servlets.guardarAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>desactivarUsuario</servlet-name>
        <servlet-class>Servlets.desactivarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editarUsuario</servlet-name>
        <servlet-class>Servlets.editarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>borraralumno</servlet-name>
        <servlet-class>Servlets.borraralumno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cambiarcontra</servlet-name>
        <servlet-class>Servlets.cambiarcontra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>activarUsuario</servlet-name>
        <servlet-class>Servlets.activarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>correo</servlet-name>
        <servlet-class>Servlets.correo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InicioSesion</servlet-name>
        <url-pattern>/InicioSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Buscar</servlet-name>
        <url-pattern>/Buscar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>crearAsesoria</servlet-name>
        <url-pattern>/crearAsesoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarAsesoria</servlet-name>
        <url-pattern>/EditarAsesoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>borrarasesoria</servlet-name>
        <url-pattern>/borrarasesoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>inscribirasesoria</servlet-name>
        <url-pattern>/inscribirasesoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dardebaja</servlet-name>
        <url-pattern>/dardebaja</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registrarsviso</servlet-name>
        <url-pattern>/registrarsviso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>guardarUsuario</servlet-name>
        <url-pattern>/guardarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>guardarAdmin</servlet-name>
        <url-pattern>/guardarAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>desactivarUsuario</servlet-name>
        <url-pattern>/desactivarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editarUsuario</servlet-name>
        <url-pattern>/editarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>borraralumno</servlet-name>
        <url-pattern>/borraralumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cambiarcontra</servlet-name>
        <url-pattern>/cambiarcontra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>activarUsuario</servlet-name>
        <url-pattern>/activarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>correo</servlet-name>
        <url-pattern>/correo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
